.container{
  outline: 0;
  margin: 0;
  padding: 0px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 25% auto ;
  grid-template-rows: calc(100vh - 50px) 50px;
}
.Sidebar{
  background: #34302D;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sidebarList{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Main{
  height: calc(100vh - 50px);
}
svg{
  display: block;
  background: #7ec0ee;
  height: 100%;
  width: 100%
}
.documentation{
  display: none;
  padding-left: 10%;
  padding-right: 15%;
}
.docImg{
  padding: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Footer {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  background: #34302D;
  color: white;
}

text{
  font-family: 'Poppins';
}
button{
  height: 40px;
  border-width: 0px;
  background-color: #34302D;
  color: grey;
  font-family: 'Poppins';
  font-size: 60%;
}
button:focus {
  outline:0;
}

#btn0{
  color: #fd5c63;
}
#face:hover{
  fill: #fd5c63;
}
#pshBtn:hover{
  fill: #ec4b52;
}

@media (max-width: 768px) {
  body{font-size: 16px;}
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Sidebar{
    width: 100vw;
    height: 165px;
  }
  .sidebarList{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .Main{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
  }

  svg{
    height: calc(100vh - 160px - 50px );
  }
  .Footer{
    width: 100vw;
    height: 50px;
  }
}